<div class="row">
  <aside class="span4">
    <section>
      <% if @playlists %>
          <ul class="playlists">
            <%= render @playlists, :indexused => @playlist.id %>
          </ul>
      <% end %>
      <%= form_tag('/playlists', method: :post, remote: true) do %>
        <%= text_field_tag(:title, nil, {placeholder: 'New playlist', autocomplete: "off"}) %>
        <%= hidden_field_tag(:user_id, @current_user.id) %>
      <% end %> 
    </section>
  </aside>
    <div class="span8" id="songspan">
      <div id="player">
      </div>


    <% if @playlist.songs %>
      <h3>Songs</h3>
        <ul class="songs">
        <li> 
        </li>
        <div id="songs_form_to_render">
          <%= render @songs %>
        </div>
        <li> 
          <%= form_tag('/songs', method: :post, remote: true) do %>
          <%= text_field_tag(:url, nil,{placeholder: 'Add song', id: "song_url", autocomplete: "off"}) %>
          <%= hidden_field_tag(:pl_id, @playlist.id) %>
          <% end %> 
        </li>
      </ul>
    <% end %>

  </div>
</div>